<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>servletFilter</filter-name>
        <filter-class>Servlet.ServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>servletFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/fehler/Fehler404.html</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/fehler/Fehler405.html</location>
    </error-page>
    <!-- TODO Fehler 500 würde beim Einloggen mit falschen Daten oder beim Abmelden angezeigt werden -->
    <!--<error-page>
        <error-code>500</error-code>
        <location>/fehler/Fehler500.html</location>
    </error-page>-->
</web-app>